<% provide(:title, 'GetPosts') %>

<h1>Facebooks#getposts</h1>

<p> ---------------------------------------------------- </p>

<%= @UserPosts[0]["message"]%>


<p> ---------------------------------------------------- </p>

<%= @UserPosts[0]%>

<p> ---------------------------------------------------- </p>
<p>Find me in app/views/facebooks/posttowall.html.erb</p>
