<% provide(:title, 'GetPosts') %>

<h1>Facebooks#getposts</h1>


  <div class="alert alert-error">
    Here Are The Latest Posts ...
  </div>

  <ul>
    <% @UserPosts.each do |pst| %>
      <li> <%= pst["message"] %></li>
    <% end %>
  </ul>


