<% provide(:title, 'Users-index') %>

<div class="center hero-unit">
  <h1>Welcome to the FBCP</h1>
  <h2>
    This is the home page for FBCP.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
